<section id="email">
    <div class="inner">
        <h3>Prêt à vous lancer dans l'aventure ?</h3>
        <div class="12u$">
            <ul class="actions">
                <form action="/merci.html" method="get">
                  <li><input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" /></li>
                  <li><input type="submit" value="Laissez votre adresse email" class="special" /></li>
                </form>
            </ul>
        </div>
    </div>
</section>
